<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GDBFS</title>
    <script src="/statics/js/jquery-3.5.1.js"></script>
    <script src="/statics/js/d3.js"></script>
    <script src="/statics/js/drawGraph.js"></script>
    <link type="text/css" href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link type="text/css" href="css/theme.css" rel="stylesheet">
    <link type="text/css" href="images/icons/css/font-awesome.css" rel="stylesheet">
    <link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'
        rel='stylesheet'>
        
    <script>
    $.ajaxSetup({
        data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
    });
    $(function () {
      $("body").height($(window).height());
      $("body").width($(window).width());
      $(window).resize(function () {
        $("body").height($(window).height());
        $("body").width($(window).width());
      })
    })
    </script>

  <style type="text/css">
    .mytable{table-layout: fixed; background-color: #ffffd9; BORDER-COLLAPSE: collapse;}
    .mytd{word-break: break-all; word-wrap: break-word;}
    html, body {height: 100%; width: 100%;}
  </style>
</head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <i class="icon-reorder shaded"></i></a><a class="brand">挂载点： </a>
          <div class="nav-collapse collapse navbar-inverse-collapse">
            <form class="navbar-search pull-left input-append" action="#">  
              <input type="text" class="span3" id='mountPath' value='{{ mount_path }}'>
              <form action="/umount">
                <button id="umount" class="btn btn-large btn-info" type="button">卸载</button>
              </form>
            </form>
            <form class="navbar-search pull-right input-append" action="#">
              <button id="addFileButton" class="btn btn-large btn-info" type="button">添加文件</button>
              <button id="addFolderButton" class="btn btn-large btn-info" type="button">添加文件夹</button>
            </form>
          </div>
          <!-- /.nav-collapse -->
        </div>
      </div>
      <!-- /navbar-inner -->
    </div>
    <!-- /navbar -->
  <!--顶栏卸载和添加-->
<div class="wrapper">
  <div class="container">
  <div class="row">
  <!--这三个div还没有结尾-->
  <div class="span3 sidebar">
  <div class="module">
    <div class="module-head">
      <h3>查找文件</h3>
    </div>
    <div class="module-body">
  <table class="widget widget-menu unstyled" id="opTable">
    <tr>
      <td >
        <table>
          <!-- 按模糊信息查找操作表 -->
          <tr><td >
            <iframe id="submitFrame" style="display: none; width:100%; height:100%" name="submitFrame" src="about:blank"></iframe>
            <form id="inputForm" target="submitFrame"><fieldset>
              {% csrf_token %}
              
              <table>
                  <tr>
                      <td>
                        <input type="text" name="description" placeholder="需操作的文件的描述" id="description"/>
                      </td>
                  </tr>
                  <tr>
                      <td>
                        <input type="text" name="ctime" id="ctime" placeholder="ctime"/>
                      </td>
                  </tr>
                  <tr>
                      <td>
                        <input type="text" name="atime" id="atime" placeholder="atime"/>
                      </td>
                  </tr>
                  <tr>
                      <td>
                        <input type="text" name="mtime" id="mtime" placeholder="mtime"/>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <button id="findButton" class="pull-right btn btn-large btn-info" onclick="return false;">find by keywords</button>
                      </td>
                  </tr>
              </table>
            </fieldset></form>
          </td></tr>
          <!--end of 模糊查找那里-->
          <tr>
            <td>
              <input type="text" placeholder="Filename:" id="fileNameToFind"/>
            </td>
          </tr>
          <tr>
            <td>
              <input type="button" class="pull-right btn btn-large btn-info" value="find by name" id="findByNameButton"/>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  </div>
  </div>
  <!--end of module1-->
  <!--操作当前文件-->
  <div class="module">
  <div class="module-head">
    <h3>操作当前文件</h3>
  </div>
  <div class="module body ">
    
    <ul class="widget widget-menu unstyled">
                                
                                <li><a type="button" id="openButton" onclick="return false;"><i class="menu-icon icon-book"></i>打开当前文件 </a></li>
                                <li><a type="button" id="deleteButton" onclick="return false;"><i class="menu-icon icon-inbox"></i>删除选中文件 </a></li>
                                <li><a href="table.html"><i class="menu-icon icon-paste"></i>重命名当前文件 </a></li>
                                <li><a class="collapsed" data-toggle="collapse" href="#togglePages"><i class="menu-icon icon-paste">
                                </i><i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right">
                                </i>重命名当前文件</a>
                                    <ul id="togglePages" class="collapse unstyled">
                                    <table>
                                        <tr>
            <td>
              <input type="text" placeholder="Newname:" />
            </td>
          </tr>
          <tr>
            <td>
              <input type="button" class="pull-right btn btn-large btn-info" value="重命名"/>
            </td>
          </tr>
        </table>
                                    </ul>
                                </li>
                            </ul>
  </div>
  </div>
  <!--end of module2-->
    </div>
                            <!--end of span3-->
  <!-- 查询文件列表表格 -->
  <div class="span9">
  <div class="content">
  <div class="module">
    <div class="module-head">
      <h3>查询结果列表</h3>
    </div>
    <div class="module-body table">
    <table style="BORDER-COLLAPSE: collapse" cellspacing="0" cellpadding="0" border="0" class="datatable-1 table table-bordered table-striped	 display" id="fileTable" width="100%">
        <thead>
                                            <tr>
                                                <th>name</th>
                                                <th>keywords</th>
                                                <th>atime</th>
                                                <th>ctime</th>
                                                <th>mtime</th>
                                                <th>size</th>
                                                <th>path</th>
                                            </tr>
            </thead>
        
    </table>
    </div>
  </div>
  <!--end of 查询结果module-->
  
                            <div class="module">
                                
                                <div class="module-body">
                                    <svg height="500"></svg>
                                </div>
                            </div>
                            <!--画图结束-->
                            <div class="module">
                                <div class="module-head">
                                    <h3>当前文件信息</h3>
                                </div>
                                <div class="module-body table">
                                    <table cellpadding="0" cellspacing="0" border="0" class="datatable-1 table table-bordered table-striped	 display"
                                        width="100%">
                                      
                                        <tbody>
                                            <tr>
                        <td style="width: 10%;">name</td>
                        <td style="width: 90%;" id="nameInfo"></td>
                  </tr>
                      <tr>
              <td style="width: 10%;">keywords</td>
              <td style="width: 90%;" id="keywordsInfo"></td>
            </tr>
            <tr>
              <td style="width: 10%;">cTime</td>
              <td style="width: 90%;" id="cTimeInfo"></td>
            </tr>
            <tr>
              <td style="width: 10%;">mTime</td>
              <td style="width: 90%;" id="mTimeInfo"></td>
            </tr>
            <tr>
              <td style="width: 10%;">aTime</td>
              <td style="width: 90%;" id="aTimeInfo"></td>
            </tr>
            <tr>
              <td style="width: 10%;">size</td>
              <td style="width: 90%;" id="sizeInfo"></td>
            </tr>
            <tr>
              <td style="width: 10%;">path</td>
              <td style="width: 90%;" id="pathInfo"></td>
            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--/.module-->
                        </div>
                        <!--/.content-->
                    </div>
                    <!--/.span9-->
                    
                </div>
                <!--row-->
            </div>
            <!--/.container-->
        </div>
        <!--/.wrapper-->
        <div class="footer">
            <div class="container">
                <b class="copyright">&copy; OSH-2020/x-code-nowww </b>All rights reserved.
            </div>
        </div>




<!-- 查找文件 -->
<script>
$("#findButton").click(function () {
    d3.select("svg")
      .selectAll("*")
      .remove();
    window.description = $("#description").val(),
    window.ctime = $("#ctime").val(),
    window.mtime = $("#mtime").val(),
    window.atime = $("#atime").val(),
    $.ajax({
        url: '/find_files',
        type: 'post',
        data: {
          description: window.description,
          ctime: window.ctime,
          mtime: window.mtime,
          atime: window.atime,
        },
        success: function (data) {
          nodes = data['nodes']
          edges = data['edges']
          listFileNodes()
          draw();
        },
    })
})
</script>

<!-- 按文件名查找文件 -->
<script>
$("#findByNameButton").click(function () {
    d3.select("svg")
      .selectAll("*")
      .remove();
    $.ajax({
        url: '/find_files_by_name',
        type: 'post',
        data: {
          name: $("#fileNameToFind").val(),
        },
        success: function (data) {
          nodes = data['nodes']
          edges = data['edges']
          listFileNodes();
          draw();
        },
    })
})
</script>

<!-- 添加文件 -->
<script>
  $("#addFileButton").click(function () {
      $.ajax({
          url: '/add_files',
          type: 'post',
          data: {
          },
          success: function (data) {
            paths = data['paths']
            for(var path of paths) {
              alert(`成功添加文件:\n${path}`)
            }
          },
      })
  })
  </script>

<!-- 添加文件夹 -->
<script>
  $("#addFolderButton").click(function () {
      $.ajax({
          url: '/add_folder',
          type: 'post',
          data: {
          },
          success: function (data) {
            if(data['paths'] != '')
              alert(`成功添加文件夹:\n${data['paths']}`)
          },
      })
  })
  </script>

<!-- 打开文件 -->
<script>
$("#openButton").click(function () {
  path = d3.select("#pathInfo").text()
  console.log(path);
  
  $.ajax({
      url: '/open_file',
      type: 'post',
      data: {
        path: path,
      },
      success: function (data) {
        if(data['ok'] == false) {
          alert("找不到该文件")
        }
      },
  })
})
</script>

<!-- 删除文件 -->
<script>
$("#deleteButton").click(function () {
  path = d3.select("#pathInfo").text()
  console.log(path);
  
  $.ajax({
      url: '/rm_file',
      type: 'post',
      data: {
        description: window.description,
        ctime: window.ctime,
        mtime: window.mtime,
        atime: window.atime,
        path: path,
      },
      success: function (data) {
        nodes = data['nodes']
        edges = data['edges']
        draw()
        listFileNodes()
        console.log(data)
        clearFileInfo()
        alert(`${path} is removed!`)
      },
  })
})
</script>


</body>
</html>