<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="../statics/js/jquery-3.5.1.js"></script>
    <script>
        $.ajaxSetup({
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
        });
    </script>
</head>
<body>


<h1>Welcome to Use GDBFS</h1>
<h4>Please choose your mount point!</h4>
<form action="/gdbfs" method="POST">
    {% csrf_token %}
    <input type="text" id="pathText" name="path" style="width: 400px;"/>
    <input type="button" value="browse" id="chooseDirButton"/>
    <input type="submit" value="Enter!"/>
</form>


<script>
// 响应 browse 按钮
$("#chooseDirButton").click(function () {
    $.ajax({
        url: '/choose_dir',
        type: 'post',
        data: {
        },
        success: function (data) {
            console.log(data['path'])
            console.log($("#pathText"))
            $("#pathText").val(data['path'])
        },
    })
})
</script>

</body>
</html>